@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* typing effect */
.animate-typing {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: typing 2s steps(30, end), blink .7s step-end infinite;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  /* restart after 1s */
}

body {
  background: var(--background);

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, var(--font-poppins);
}